<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Summarize your text in a click</h1>
        </div>
        <div class="submission">
            <p>You just have to write or paste the text you want to summarize and then press the button to proceed</p>
            <form action="{{ url_for('model') }}" method="post">
                <div class="form-text">
                    <textarea class="form-control" name="input_text" rows="5" placeholder="Write your text" required></textarea> 
                </div><br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
        <div class="generationn">
            <p>Your summary here:</p>
             <div class="form-text">
                <textarea class="form-control" name="text_gen" rows="5">{{ processed_text }}</textarea> 
            </div>
        </div><br>
        <div class="mt-4 text-center">
            <button onclick="window.location.href='/about'" class="btn">About Us</button>
            <button onclick="window.location.href='/'" class="btn">Home page</button>
            <button onclick="window.location.href='/contact'" class="btn">Contact Us</button>
        </div>
    </div>
</body>
</html>
